/*평점 원형 progress*/
.circle-wrapper {
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
}

.circle-wrapper.popular {
  position: absolute;
  bottom: 0.5rem;
  right: 0.2rem;
  font-size: 1.6rem;
}

.circle {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  border: 1px solid #353b48;
  position: relative;
  /*background: conic-gradient(
    var(--progress-color) 300deg,
    white 50deg
  ); */
}

.inner-circle {
  width: 90%;
  height: 90%;
  border-radius: inherit;
  background-color: #353b48;
  margin: auto;
  display: flex;
  color: white;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: inherit;
}

.inner-circle span {
  display: flex;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
}

.detail {
  position: absolute;
  bottom: 2.6rem;
  right: 12.6rem;
  font-size: 1.6rem;
}
.sticky-circle {
  width: 3rem !important;
  height: 3rem !important;
  position: absolute;
  bottom: 2.6rem;
  right: 6.9rem;
  z-index: 3;
  font-size: 1.2rem;
}
