@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@300;400;500;700&family=Orbit&family=Playpen+Sans&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ubuntu:wght@400;500;700&display=swap");
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  margin: 0;
}

:root {
  --card-bg-color: #f5f6fa;
  --focus-hover-color: #252c41;
  --header-border-radius: 0.5rem;

  --main-border-radius: 1rem;

  /* fonts group */
  --main-title-font: "Cafe24Ssurround";
  --sub-font: "Ubuntu", "GangwonEduPowerExtraBoldA", sans-serif;
  --rank-font: "Fjalla One", sans-serif;
}

/*contents*/
html {
  font-size: 62.5%;
}

body {
  padding-bottom: 50px;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.main-header__h1 {
  font-size: 6rem;
  font-family: var(--main-title-font);
  text-align: center;
  padding: 5rem 0 2rem;
}

.header {
  display: flex;
  justify-content: end;
  margin-bottom: 5rem;
}

.search_bar {
  margin-top: 20px;
  display: flex;
}

.search_bar > input {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--card-bg-color);
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  font-size: 1.6rem;
  border-radius: var(--header-border-radius);
  box-sizing: border-box;
  transition: border-color 0.3s ease-in;

  &:focus {
    outline: none;
    border: 0.1rem solid var(--focus-hover-color);
  }
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: var(--header-border-radius);
  box-sizing: border-box;
  color: #252c41;
  cursor: pointer;
  display: inline-block;
  font-family:
    "Basier circle",
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #252c41 solid;
  text-decoration-thickness: auto;
  transition: all 0.3s ease-in;
  box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: var(--focus-hover-color);
  color: #fff;
}

.main-cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  row-gap: 30px;
  column-gap: 10px;
}

.card {
  width: inherit;
  max-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--main-border-radius);
  background-color: var(--card-bg-color);
  padding: 1rem 0;
}

.card > div:first-child {
  position: relative;
}

.card img {
  max-height: 35rem;
  width: 100%;
  border-radius: var(--main-border-radius);
}

.hover11:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#card_name {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: #252c41;
  font-size: 26px;
  padding: 0 1rem;
  margin: 1rem;
  font-weight: bold;
  box-sizing: border-box;
}

#card_content {
  padding: 20px;
  height: auto;
  overflow-y: auto;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #252c41;
}

#card-score {
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
}

.updirection {
  right: 30px;
  bottom: 30px;
  position: fixed;
  cursor: pointer;
}
.updirection button {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: 0;
  color: white;
  transition: background-color 0.3s ease-in;
  border-radius: 50%;
  cursor: pointer;
}
.updirection button svg {
  width: 90%;
  height: 90%;
  fill: var(--focus-hover-color);
  transition: fill 0.3s ease-in;
  pointer-events: none;
}

.updirection button:hover {
  background-color: var(--focus-hover-color);
}
.updirection button:hover svg {
  fill: white !important;
}

/*평점 원형 progress*/
.circle-wrapper {
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
}

.circle-wrapper.popular {
  position: absolute;
  bottom: 0.5rem;
  right: 0.2rem;
}

.circle {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  border: 1px solid #353b48;
  position: relative;
  /*background: conic-gradient(
    var(--progress-color) 300deg,
    white 50deg
  ); */
}

.inner-circle {
  width: 90%;
  height: 90%;
  border-radius: inherit;
  background-color: #353b48;
  margin: auto;
  display: flex;
  color: white;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.inner-circle span {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
